body{
    font-family: 'Urbanist', sans-serif;
    margin: 0%;
}
.wrapper{
    width: auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 50px;
}

label.logo{
    font-size: 35px;
    line-height: 80px;
    font-weight: bold;
}
nav.dropDown{
    min-width: 16em;
    position: relative;
    margin: 2em;
}

.dropDown * {
    box-sizing: border-box;
}

.select{
    color: black;
    display: flex;
    font-size: 18px;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5em;
    padding: 0.5em;
    cursor: pointer;
    transition: background 0.3s;
}

.select-clicked{
    box-shadow: 0 0 0.8em #26489a;
}

.select:hover{
    background: transparent;
    color: white;
}

.caret{
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #23242a;
    margin-left: 25px;
    transition: 0.3s;
}

.caret-rotate{
    transform: rotate(180deg);
}

.menu{
    list-style: none;
    padding: 0.2em 0.5em;
    background: rgba(0,0,0,0.8);
    backdrop-filter: saturate(180%) blur(10px);
    border: 1px #26489a solid;
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
    border-radius: 0.5em;
    color: #fff;
    position: absolute;
    top: 3.5em;
    left: 50%;
    width: 90%;
    transform: translateX(-50%);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
}
.menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.menu li:hover{
    background: #2a2d35;

}

.active {
    background: #23242a;
}

.menu-open {
    display: block;
    opacity: 1;
}
section{
    height: auto;
    margin: 2em 0;
}

section h1{
    max-width: auto;
    margin: 0 50px;
}
.mainview{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-image: url('https://media1.giphy.com/media/hTZqITHNkgmX0fwt1C/giphy.gif');
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    margin-top: 0%;
}
.title{
    justify-content: center;
    text-align: center;
    margin: 100px;
    font-size: 50px;
}

/*Section Rogers Park*/
.viewfinder{
    display: flex;
    align-items: center;
    margin: 0 50px;
}
.slideview{
    display: block;
}
.finder img{
    height: auto;
    width: 40%;
    border: 1px black solid;
}

/*Misc Statues*/
.holder{
    margin: 0 50px;
}

.slider-wrapper{
    position: relative;
    max-width: 48em;
    margin: 0 auto;
}
.slider{
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type:  x mandatory;
    scroll-behavior: smooth;
    box-shadow: 0 1.5em 3em -0.75em hsla(0, 0%, 0%, 0.25);
    border-radius: 0.5em;
}
.slider img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
}
.slider-nav{
    display: flex;
    column-gap: 1em;
    position: absolute;
    bottom: 1.25em;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.slider-nav a{
    width: 0.5em;
    height: 0.5em;
    border-radius: 50%;
    background-color: #23242a;
    opacity: 0.75;
    transition: opacity ease 250ms;
}
.slider-nav a:hover{
    opacity: 1;
}
footer{
    margin: 50px;
    border-top: 2px black solid;
}